# This file is meant to be sourced by the star software.
# It should be located under $XDG_CONFIG_HOME/star/ if XDG_CONFIG_HOME is set and not empty, else $HOME/.config/star/
# It contains configurable options.

# Note that for all options, if the variable is unset, star will use its default value
# For some options, it will also use the default value if the variable is set but empty.

# Do not set variables regarding the installation of star itself, such as:
# _STAR_HOME
# _STAR_CONFIG_HOME
# _STAR_CONFIG_FILE
# _STAR_DATA_HOME
# This configuration file is only for run-time configuration, and should be able to be quickly reloaded without breaking the installation. 

# When set to "yes", star will export environment variables named after the starred directories.
# For example, if a star is named "project", an environment variable $STAR_PROJECT will be exported,
# containing the absolute path to the starred directory.
#
# Value: yes, no (default: yes)
export __STAR_ENABLE_ENVVARS=yes

# When set to "yes", the following aliases will be added to the environment:
# - sta: star add
# - unstar: star remove
# - strm: star remove
# - stl: star load (and star list when used without arguments and __STAR_ENABLE_LOADLISTS=yes)
#
# Value: yes, no (default: yes)
export __STAR_ENABLE_ALIASES=yes

# Manage the behaviour of "star load"
# When set to "yes", using "star load" with no arguments is equivalent to "star list"
# else using "star load" with no arguments will cause an error
#
# Value: yes, no (default: yes)
export __STAR_ENABLE_LOADLISTS=yes

### COLOR OPTIONS ###
# Colors used in star output, associated with the star names and star paths.
# By default, star will try to use true color codes if the terminal supports it,
# else it will fallback to 256-color codes.
#
# Value: ANSI escape codes for colors. Format: $'\033[...m'
# 
# default: $'\033[38;2;255;131;0m'
export __STAR_COLOR_NAME=$'\033[38;2;255;131;0m'
# default: $'\033[38;2;1;169;130m'
export __STAR_COLOR_PATH=$'\033[38;2;1;169;130m'
# default: $'\033[0m'
export __STAR_COLOR_RESET=$'\033[0m'

### Fallback to 256-color codes, if true color is not supported
# default: $'\033[38;5;214m'
export __STAR_COLOR256_NAME=$'\033[38;5;214m'
# default: $'\033[38;5;36m'
export __STAR_COLOR256_PATH=$'\033[38;5;36m'
# default: $'\033[0m'
export __STAR_COLOR256_RESET=$'\033[0m'

### LIST OPTIONS ###
### Format:
# - This string is passed to GNU find, so any formatting for the "-print" option can be used:
#   - e.g: %f for name of starred directory
#   - e.g: %l for its absolute path
# - Placeholders:
#   - "<INDEX>": used to display an index on each line of star list
#       - can be put anywhere in the string
#       - useful to navigate using the index of the star instead of its name
#   - "<BR>": column separator (it is effectively replaced by a tab character, that the default "column" command uses as separator)
#   - "<COLNAME>": assigned color for star names (effectively replaced by the value of $__STAR_COLOR_NAME)
#   - "<COLPATH>": assigned color for star paths (effectively replaced by the value of $__STAR_COLOR_PATH)
#   - "<COLRESET>": assigned default color (effectively replaced by the value of $__STAR_COLOR_RESET)
#
# Note that this string will be piped into the "column" command (see below for more).
#
# default: "<INDEX>:<BR><COLNAME>%f<COLRESET><BR>-><BR><COLPATH>%l<COLRESET>"
export __STAR_LIST_FORMAT="<INDEX>:<BR><COLNAME>%f<COLRESET><BR>-><BR><COLPATH>%l<COLRESET>"

### Column command:
# To display the stars in vertically aligned columns, the "find" listing is piped into the column command
# - the listing has one result per line, each column is separated according to $__STAR_LIST_FORMAT
# - each "<BR>" placeholder in $__STAR_LIST_FORMAT is replaced by a tab character (at runtime), 
#    then the default "column" command uses this tab character as separator
# - be aware that the $__STAR_LIST_COLUMN_COMMAND string is evaled when listing
#
# default: "command column -t -s $'\t'"
export __STAR_LIST_COLUMN_COMMAND="command column -t -s $'\t'"

### Sorting and ordering options ###
# Options to sort and order the starred directories when using "star list"
#
# Value: loaded, name, none (default: loaded)
export __STAR_LIST_SORT="loaded"
# Value: asc, desc (default: desc)
export __STAR_LIST_ORDER="desc"
# Value: asc, desc (default: asc)
export __STAR_LIST_INDEX="asc"
